<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/voting_submit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Load

In [2]:
import os
os.chdir('/content/drive/My Drive/玉山人工智慧比賽數據/catboost_result/1106')
os.getcwd()
files = os.listdir()
files

['catboost_Fold4_random42.csv',
 'catboost_Fold3_random42.csv',
 'catboost_Fold2_random42.csv',
 'catboost_Fold1_random42.csv',
 'catboost_Fold0_random42.csv']

In [0]:
import pandas as pd
dfs = {}
for key ,file_path in enumerate(files):
  dfs[key] = pd.read_csv(file_path,index_col=0)

# merge

In [4]:
merge_table = pd.DataFrame()
merge_table['txkey'] = dfs[0]['txkey']
for key in dfs.keys():
  merge_table[key] = dfs[key]['fraud_ind']
merge_table.head()

          txkey         0         1         2         3         4
1521787  592489  0.016175  0.016738  0.020753  0.016467  0.005826
1521788  592452  0.021857  0.017504  0.021897  0.026962  0.005826
1521789  590212  0.013873  0.012121  0.017826  0.013935  0.004701
1521790  590209  0.016175  0.011978  0.016872  0.013935  0.004137
1521791  592488  0.013295  0.013493  0.016917  0.014371  0.003842

# count mean

In [5]:
merge_table['fraud_ind'] = merge_table.drop('txkey',axis=1).mean(axis=1)
merge_table = merge_table[['txkey','fraud_ind']]
merge_table.sample(5)

           txkey  fraud_ind
1858328   967525   0.001298
1941390   297122   0.000310
1635547  1929218   0.014832
1805602  1395283   0.000443
1917684   900339   0.000693

# value_counts

In [6]:
merge_table['fraud_ind'].value_counts()

0.000900    135
0.001052     96
0.000904     84
0.001177     72
0.001142     70
           ...
0.001015      1
0.001430      1
0.003011      1
0.000410      1
0.000539      1
Name: fraud_ind, Length: 416468, dtype: int64

In [0]:
def f(x):
  if x>=0.50:
    return 1
  else:
    return 0
merge_table['fraud_ind'] = merge_table['fraud_ind'].apply(f)

In [8]:
盜刷比例 = merge_table['fraud_ind'].value_counts()[1] / len(merge_table['fraud_ind'])
盜刷比例 = round(盜刷比例,5)*100
str(盜刷比例)+'%'

'1.601%'

In [9]:
print(merge_table["fraud_ind"].value_counts())

0    414916
1      6749
Name: fraud_ind, dtype: int64

# 保存預測結果

In [0]:
merge_table.to_csv('./catboost_class_weight(2.5)_iter_250_voting_bigthan_0.50.csv')