<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/voting_submit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

# Load

In [2]:
import os
os.chdir('/content/drive/My Drive/玉山人工智慧比賽數據/catboost_result/1108')
os.getcwd()
files = os.listdir()
files

['catboost_Fold0_random42.csv',
 'catboost_Fold1_random42.csv',
 'catboost_Fold2_random42.csv',
 'catboost_Fold3_random42.csv',
 'catboost_Fold4_random42.csv']

In [0]:
import pandas as pd
dfs = {}
for key ,file_path in enumerate(files):
  dfs[key] = pd.read_csv(file_path,index_col=0)

# merge

In [4]:
merge_table = pd.DataFrame()
merge_table['txkey'] = dfs[0]['txkey']
for key in dfs.keys():
  merge_table[key] = dfs[key]['fraud_ind']
merge_table.head()

          txkey         0         1         2         3         4
1521787  592489  0.011188  0.017055  0.015009  0.023364  0.029507
1521788  592452  0.011188  0.020988  0.018382  0.023918  0.031716
1521789  590212  0.011420  0.014192  0.012163  0.015046  0.027685
1521790  590209  0.011062  0.014192  0.012195  0.015046  0.028716
1521791  592488  0.010336  0.014192  0.012163  0.015046  0.020951

# count mean

In [5]:
merge_table['fraud_ind'] = merge_table.drop('txkey',axis=1).mean(axis=1)
merge_table = merge_table[['txkey','fraud_ind']]
merge_table.sample(5)

           txkey  fraud_ind
1557423  1954040   0.969780
1918362   358310   0.000395
1579761    72874   0.002450
1655869   212255   0.000401
1709964  1680230   0.000134

# value_counts

In [6]:
merge_table['fraud_ind'].value_counts()

0.000882    129
0.000857    104
0.000178     92
0.000941     83
0.000873     47
           ...
0.001759      1
0.004448      1
0.000851      1
0.002289      1
0.000187      1
Name: fraud_ind, Length: 417701, dtype: int64

In [0]:
def f(x):
  if x >= 0.50:
    return 1
  else:
    return 0
merge_table['fraud_ind'] = merge_table['fraud_ind'].apply(f)

In [8]:
盜刷比例 = merge_table['fraud_ind'].value_counts()[1] / len(merge_table['fraud_ind'])
盜刷比例 = round(盜刷比例,5)*100
str(盜刷比例)+'%'

'1.5779999999999998%'

In [9]:
print(merge_table["fraud_ind"].value_counts())

0    415011
1      6654
Name: fraud_ind, dtype: int64

# 保存預測結果

In [0]:
merge_table.to_csv('./catboost_class_weight(2.5)_iter_250_voting_bigthan_0.50_使用100個特徵.csv')