<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/%E6%A8%A1%E7%B5%84%E5%8C%96%E9%9B%86%E6%88%90%E5%AD%B8%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# get_oof

In [0]:
from sklearn.model_selection import KFold
def get_oof(model ,x_train, y_train, x_test):
    kf = KFold(n_splits=5,random_state=0)
    oof_train = np.zeros((len(x_train),))
    oof_test = np.zeros((len(x_test),))
    oof_test_skf = np.empty((5, len(x_test)))

    for i, (train_index, test_index) in enumerate(kf.split(x_train)):
        x_tr = x_train.loc[train_index]
        y_tr = y_train.loc[train_index]
        x_te = x_train.loc[test_index]

        model.fit(x_tr, y_tr)

        oof_train[test_index] = model.predict(x_te)
        oof_test_skf[i, :] = model.predict(x_test)

    oof_test[:] = oof_test_skf.mean(axis=0)
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
import warnings 
warnings.simplefilter('ignore')

def 集成學習(X_train,y_train,X_test): 
  
  #定義 base model
  model1 = RandomForestRegressor()
  model2 = LinearRegression()
  model3 = KNeighborsRegressor()
  
  #迴圈取得每個base model的oof_train和oof_test
  所有oof_train = np.empty((len(X_train),0))
  所有oof_test = np.empty((len(X_test),0))
  for model in [model1,model2,model3]:
    oof_train,oof_test = get_oof(model,X_train,y_train,X_test)
    所有oof_train = np.hstack((所有oof_train,oof_train))
    所有oof_test = np.hstack((所有oof_test,oof_test))
  
  #訓練 meta model
  meta_model = XGBRegressor(objective="reg:squarederror").fit(所有oof_train,y_train)
  
  #meta model 預測
  return meta_model.predict(所有oof_test)

# 評估

In [0]:
from sklearn.metrics import r2_score
import numpy as np

def rmse(y_true, y_pred):
    return np.sqrt(((y_pred - y_true) ** 2).mean())

def mape(y_true, y_pred,dropinf=False):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    ape = np.abs((y_true - y_pred) / y_true)
    if dropinf == True:
      ape = ape[np.isfinite(ape)]
    return np.mean(ape) * 100

def metric(y_true,y_pred,y_name):
  R2 = r2_score(y_true,y_pred)
  RMSE = rmse(y_true,y_pred)
  MAPE = mape(y_true,y_pred)
  return pd.DataFrame({'R2':R2,'RMSE':RMSE,'MAPE':MAPE},index=[y_name])

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# trainset

In [5]:
import pandas as pd
train = pd.read_csv('/content/drive/My Drive/台塑輕油案子/輕油實驗數據(保留大部份欄位,三個基本規則清洗過).csv')
X = train[['T10','T50','T90','N+A in Feed']].rename(columns={'N+A in Feed':'NA'})
y = train.iloc[:,17:-1]
X.join(y).head()

     T10    T50    T90      NA   C5NP  ...    C9A  C10NP  C10IP   C10N   C10A
0  100.5  119.2  146.5  31.978  0.272  ...  3.661  0.875  5.257  0.525  0.319
1   99.6  117.9  145.5  31.568  0.297  ...  2.995  0.881  5.591  1.119  0.303
2  100.0  118.8  145.6  31.344  0.262  ...  2.979  0.865  5.641  0.964  0.289
3  100.4  118.6  142.9  31.453  0.224  ...  2.964  0.830  5.637  0.968  0.281
4  100.4  118.1  142.2  32.190  0.243  ...  3.725  0.835  4.823  0.969  0.290

[5 rows x 27 columns]

# testset

In [6]:
test = pd.read_csv('/content/drive/My Drive/台塑輕油案子/test_without_outlier.csv')
X_test = test[['T10','T50','T90','N+A']].rename(columns={'N+A':'NA'})
y_test = test.iloc[:,4:]
y_test.columns = y.columns
X_test.join(y_test).head()

     T10    T50    T90      NA   C5NP  ...    C9A  C10NP  C10IP   C10N   C10A
0   98.6  119.2  146.1  40.133  1.142  ...  3.481  1.088  5.652  0.618  0.597
1  105.4  122.2  148.2  32.175  0.122  ...  3.963  1.069  6.025  0.585  0.484
2  105.8  122.7  149.2  31.428  0.098  ...  3.997  1.034  6.107  0.543  0.456
3  105.4  122.4  147.6  31.390  0.122  ...  3.982  1.013  6.054  0.545  0.449
4  105.4  122.6  148.2  32.418  0.072  ...  4.227  0.930  5.828  0.519  0.463

[5 rows x 27 columns]

In [7]:
y_columns = y.columns.tolist()
len(y_columns)

23

# 單純建模表現

In [8]:
res_table = pd.DataFrame()
for y_name in y_columns:
  y_pred = XGBRegressor(objective="reg:squarederror").fit(X,y[y_name]).predict(X_test)
  res_table = res_table.append(metric(y_test[y_name].values,y_pred,y_name))
res_table.loc['AVG'] = res_table.mean()
res_table

             R2      RMSE       MAPE
C5NP   0.891181  0.281908  40.874745
C5IP   0.738123  0.261870  60.886170
C5N    0.930164  0.036177  39.377358
C6NP   0.127743  0.377854   7.727171
C6IP   0.871774  0.374294  11.321105
C6N    0.887861  0.554559   5.965841
C6A   -0.163214  0.184265  25.850968
C7NP   0.974167  0.353481   3.878464
C7IP   0.811875  0.479278   6.595102
C7N    0.982234  0.555457   3.397454
C7A    0.357526  0.372492   6.821466
C8NP   0.984726  0.213591   2.549938
C8IP   0.932149  0.406699   3.885114
C8N    0.886869  0.613791   6.130166
C8A    0.445630  0.605229   5.829457
C9NP   0.984659  0.198008   3.356191
C9IP   0.955706  0.332848   3.162463
C9N    0.658942  0.471601   7.623590
C9A    0.618771  0.374140   9.419070
C10NP  0.347389  0.170790  14.098172
C10IP  0.845076  0.402150   7.266860
C10N   0.464644  0.095537  10.966638
C10A   0.445755  0.173525  20.631262
AVG    0.694772  0.343024  13.374555

#集成學習表現

In [9]:
res_table = pd.DataFrame()
for y_name in y_columns:
  y_pred = 集成學習(X,y[y_name],X_test)
  res_table = res_table.append(metric(y_test[y_name].values,y_pred,y_name))
res_table.loc['AVG'] = res_table.mean()
res_table

             R2      RMSE       MAPE
C5NP   0.877850  0.298677  54.737375
C5IP   0.727706  0.267027  75.774108
C5N    0.907208  0.041701  58.037375
C6NP   0.129807  0.377406   6.831499
C6IP   0.909868  0.313809  10.060014
C6N    0.905141  0.510047   6.460065
C6A   -1.017156  0.242652  38.080851
C7NP   0.973388  0.358774   4.215875
C7IP   0.786418  0.510677   6.834151
C7N    0.967558  0.750607   4.467752
C7A    0.598085  0.294616   5.934747
C8NP   0.979104  0.249826   2.976033
C8IP   0.940493  0.380874   3.433853
C8N    0.890678  0.603370   6.511849
C8A    0.035761  0.798200   8.371493
C9NP   0.983374  0.206135   3.572651
C9IP   0.931962  0.412524   3.894422
C9N    0.508221  0.566299   9.174375
C9A    0.562387  0.400854  10.330268
C10NP  0.274530  0.180072  14.566725
C10IP  0.836160  0.413561   7.294640
C10N   0.591526  0.083451  10.103332
C10A   0.364722  0.185778  19.954131
AVG    0.637600  0.367258  16.157286