<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/%E7%8E%89%E5%B1%B1%E9%8A%80%E8%A1%8CAI%E6%AF%94%E8%B3%BD_featuresengineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 中文map

In [0]:
中文map = {'bacno':'歸戶帳號','txkey':'交易序號','locdt':'授權日期','loctm':'授權時間','cano':'交易卡號',
         'contp':'交易類別','etymd':'交易型態','mchno':'特店代號','acqic':'收單行代碼','mcc':'MCC_CODE',
         'conam':'交易金額-台幣(經過轉換)','ecfg':'網路交易註記','insfg':'分期交易註記','iterm':'分期期數',
         'stocn':'消費地國別','scity':'消費城市','stscd':'狀態碼','ovrlt':'超額註記碼','flbmk':'Fallback註記',
         'hcefg':'支付型態','csmcu':'消費地幣別','flg_3dsmk':'3DS交易註記','fraud_ind':'盜刷註記'}

# train data

In [3]:
import pandas as pd
train = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_預處理完.csv",index_col=0)
print(train.shape)
train.head()

(1271138, 23)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   acqic   bacno    cano    conam  ...  stocn  stscd    txkey  fraud_ind
0   6881  113261   38038   513.80  ...    102      0   516056          0
1      0  134508   45725   465.62  ...    102      0     4376          0
2   6881   15408  188328   513.80  ...    102      0   483434          0
3   6716  157159   29967  1016.11  ...    102      0  1407164          0
4   5975  105985   81305   713.66  ...    102      0  1051004          0

[5 rows x 23 columns]

# test data

In [4]:
test = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_預處理完.csv",index_col=0)
print(test.shape)
test.head()

(421665, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd   txkey
0   6881  163188  116799  513.8      5  ...      0      0    102      0  592489
1   6881  163188  116799  513.8      5  ...      0      0    102      0  592452
2   6881  163188  116799  513.8      5  ...      0      0    102      0  590212
3   6881  163188  116799  513.8      5  ...      0      0    102      0  590209
4   6881  163188  116799  513.8      5  ...      0      0    102      0  592488

[5 rows x 22 columns]

# len(both unique) / len(test unique) %

In [5]:
p = {}
for col in train.drop('fraud_ind',axis=1).columns:
  both_unique = set(train[col].unique())&set(test[col].unique())
  test_unique = set(test[col].unique())
  p[col] = len(both_unique)/len(test_unique)
P_table = pd.DataFrame(p,index=['p']).T.sort_values(by='p',ascending=False)
P_table['中文'] = P_table.index.map(中文map)
P_table

                  p             中文
insfg      1.000000         分期交易註記
stscd      1.000000            狀態碼
ovrlt      1.000000          超額註記碼
contp      1.000000           交易類別
ecfg       1.000000         網路交易註記
etymd      1.000000           交易型態
flbmk      1.000000     Fallback註記
flg_3dsmk  1.000000        3DS交易註記
iterm      1.000000           分期期數
loctm      0.981651           授權時間
hcefg      0.900000           支付型態
mcc        0.758065       MCC_CODE
mchno      0.676710           特店代號
acqic      0.650747          收單行代碼
csmcu      0.649123          消費地幣別
stocn      0.609195          消費地國別
conam      0.523501  交易金額-台幣(經過轉換)
scity      0.368568           消費城市
bacno      0.043475           歸戶帳號
cano       0.042588           交易卡號
locdt      0.000000           授權日期
txkey      0.000000           交易序號

# test sample in both_unique's len / test sample len

In [6]:
dejavu = test.copy()
for col in train.drop(['fraud_ind','txkey','locdt','cano','bacno'],axis=1).columns:
  both_unique = set(train[col].unique())&set(test[col].unique()) # train_unique & test_unique
  dejavu = dejavu.loc[dejavu[col].isin(both_unique),:] # number of test's sample in both_unique 
print(round(len(dejavu)/len(test),3))

0.907

# 新增特徵

# save

In [7]:
train.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_特徵工程完.csv")
test.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_特徵工程完.csv")
print('save done!')

save done!