<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/%E7%8E%89%E5%B1%B1%E9%8A%80%E8%A1%8CAI%E6%AF%94%E8%B3%BD_featuresengineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
import gc
import warnings 
warnings.simplefilter('ignore')
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 中文map

In [0]:
中文map = {'bacno':'歸戶帳號','txkey':'交易序號','locdt':'授權日期','loctm':'授權時間','cano':'交易卡號',
         'contp':'交易類別','etymd':'交易型態','mchno':'特店代號','acqic':'收單行代碼','mcc':'MCC_CODE',
         'conam':'交易金額-台幣(經過轉換)','ecfg':'網路交易註記','insfg':'分期交易註記','iterm':'分期期數',
         'stocn':'消費地國別','scity':'消費城市','stscd':'狀態碼','ovrlt':'超額註記碼','flbmk':'Fallback註記',
         'hcefg':'支付型態','csmcu':'消費地幣別','flg_3dsmk':'3DS交易註記','fraud_ind':'盜刷註記'}

# train data

In [3]:
import pandas as pd
train = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_預處理完.csv",index_col=0)
train_fraud_ind = train['fraud_ind']
train_txkey = train['txkey']
print(train.shape)
train.head()

(1521787, 23)

   acqic   bacno    cano  conam  contp  ...  scity  stocn  stscd    txkey  fraud_ind
0   6862  112785   37846  16158      5  ...      0    102      0   516056          0
1      0  133951   45476  13693      5  ...   5795    102      0     4376          0
2   6862   15350  187354  16158      5  ...      0    102      0   483434          0
3   6697  156492   29812  40413      5  ...   3267    102      0  1407164          0
4   5959  105534   80881  25962      5  ...   5795    102      0  1051004          0

[5 rows x 23 columns]

# test data

In [4]:
test = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_預處理完.csv",index_col=0)
test_txkey = test['txkey']
print(test.shape)
test.head()

(421665, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd   txkey
0   6862  162489  116168  16158      5  ...      0      0    102      0  592489
1   6862  162489  116168  16158      5  ...      0      0    102      0  592452
2   6862  162489  116168  16158      5  ...      0      0    102      0  590212
3   6862  162489  116168  16158      5  ...      0      0    102      0  590209
4   6862  162489  116168  16158      5  ...      0      0    102      0  592488

[5 rows x 22 columns]

# full data

In [5]:
full_data  = train.drop('fraud_ind',axis=1).append(test)
print(full_data.shape)
full_data.head()

(1943452, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd    txkey
0   6862  112785   37846  16158      5  ...      0      0    102      0   516056
1      0  133951   45476  13693      5  ...      0   5795    102      0     4376
2   6862   15350  187354  16158      5  ...      0      0    102      0   483434
3   6697  156492   29812  40413      5  ...      0   3267    102      0  1407164
4   5959  105534   80881  25962      5  ...      0   5795    102      0  1051004

[5 rows x 22 columns]

In [6]:
del train
del test
gc.collect()

199

# 定義特徵 去除fraud_ind,txkey,locdt,其他都當特徵

In [7]:
features = full_data.drop(['txkey','locdt'],axis=1).columns.tolist()
print(len(features))
print(features)

20
['acqic', 'bacno', 'cano', 'conam', 'contp', 'csmcu', 'ecfg', 'etymd', 'flbmk', 'flg_3dsmk', 'hcefg', 'insfg', 'iterm', 'loctm', 'mcc', 'mchno', 'ovrlt', 'scity', 'stocn', 'stscd']

# Function for Numeric Aggregations

In [0]:
def agg_function(df,group_var,features):
    agg = df[features].groupby(group_var).agg(["count","nunique"]).reset_index()

    columns = [group_var]
    for var in agg.columns.levels[0]:
        if var != group_var:
            for stat in agg.columns.levels[1][:-1]:
                columns.append('%s_%s_%s' % (group_var,var,stat))
    agg.columns = columns
    return agg

# 用cano分組計算該cano對features的 count ,nunique

In [9]:
cano_agg = agg_function(full_data,"cano",features)
full_data = full_data.merge(cano_agg, on = "cano", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 60)

   acqic   bacno  ...  cano_stscd_count  cano_stscd_nunique
0   6862  112785  ...                80                   1
1      0  133951  ...                23                   1
2   6862   15350  ...                18                   1
3   6697  156492  ...                57                   1
4   5959  105534  ...                63                   1

[5 rows x 60 columns]

# 用bacno分組計算該bacno對features的 count ,nunique

In [10]:
bacno_agg = agg_function(full_data,"bacno",features)
full_data = full_data.merge(bacno_agg, on = "bacno", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 98)

   acqic   bacno  ...  bacno_stscd_count  bacno_stscd_nunique
0   6862  112785  ...                 80                    1
1      0  133951  ...                 23                    1
2   6862   15350  ...                 18                    1
3   6697  156492  ...                 74                    1
4   5959  105534  ...                 78                    1

[5 rows x 98 columns]

# 用acqic分組計算該acqic對features的 count ,nunique

In [11]:
acqic_agg = agg_function(full_data,"acqic",features)
full_data = full_data.merge(acqic_agg, on = "acqic", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 136)

   acqic   bacno  ...  acqic_stscd_count  acqic_stscd_nunique
0   6862  112785  ...             126507                    2
1      0  133951  ...              61355                    4
2   6862   15350  ...             126507                    2
3   6697  156492  ...             255226                    3
4   5959  105534  ...             159855                    3

[5 rows x 136 columns]

# 拆回train and test

In [12]:
train = full_data.loc[full_data['txkey'].isin(train_txkey),:]
train['fraud_ind'] = train_fraud_ind
print(train.shape)

(1521787, 137)

In [13]:
test = full_data.loc[full_data['txkey'].isin(test_txkey),:]
print(test.shape)

(421665, 136)

In [14]:
del full_data
gc.collect()

0

# Correlation Function

In [0]:
# Function to calculate correlations with the target for a dataframe
def target_corrs(df,feats):
  corrs = {} 
  for col in feats:
    corr = df['fraud_ind'].corr(df[col])
    corrs[col] = abs(corr)
  return pd.DataFrame(corrs,index=['corr_score']).T.sort_values(by='corr_score',ascending=False)

In [16]:
#原始特徵
corrs = target_corrs(train,features)
corrs.head(10)

       corr_score
stscd    0.279225
ecfg     0.161701
stocn    0.161405
acqic    0.083764
etymd    0.067743
loctm    0.041972
scity    0.028736
hcefg    0.026210
contp    0.023248
conam    0.022302

In [17]:
#新特徵
new_feats = list(set(train.drop('fraud_ind',axis=1).columns)^set(features))
corrs = target_corrs(train,new_feats)
corrs.head(10)

                     corr_score
acqic_scity_nunique    0.212244
acqic_csmcu_nunique    0.209596
cano_stscd_nunique     0.174197
acqic_stocn_nunique    0.161676
acqic_hcefg_nunique    0.140998
bacno_stscd_nunique    0.139140
acqic_flbmk_nunique    0.124775
acqic_loctm_nunique    0.122189
acqic_bacno_nunique    0.120377
acqic_stscd_nunique    0.119250

# 篩選新特徵

In [0]:
select_feats = features+corrs.index.tolist()[:10]
train = train[select_feats+['fraud_ind']]
test = test[select_feats]

# check data

In [20]:
print(train.shape)
print(train.isnull().sum().sum())
train.head()

(1521787, 31)
0

   acqic   bacno    cano  ...  acqic_bacno_nunique  acqic_stscd_nunique  fraud_ind
0   6862  112785   37846  ...                30627                    2          0
1      0  133951   45476  ...                19252                    4          0
2   6862   15350  187354  ...                30627                    2          0
3   6697  156492   29812  ...                74622                    3          0
4   5959  105534   80881  ...                41913                    3          0

[5 rows x 31 columns]

In [21]:
print(test.shape)
print(test.isnull().sum().sum())
test.head()

(421665, 30)
0

         acqic   bacno  ...  acqic_bacno_nunique  acqic_stscd_nunique
1521787   6862  162489  ...                30627                    2
1521788   6862  162489  ...                30627                    2
1521789   6862  162489  ...                30627                    2
1521790   6862  162489  ...                30627                    2
1521791   6862  162489  ...                30627                    2

[5 rows x 30 columns]

# save

In [22]:
train.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_特徵工程完.csv")
test.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_特徵工程完.csv")
print('save done!')

save done!