<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/%E7%8E%89%E5%B1%B1%E9%8A%80%E8%A1%8CAI%E6%AF%94%E8%B3%BD_featuresengineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import gc
import warnings 
warnings.simplefilter('ignore')
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 中文map

In [0]:
中文map = {'bacno':'歸戶帳號','txkey':'交易序號','locdt':'授權日期','loctm':'授權時間','cano':'交易卡號',
         'contp':'交易類別','etymd':'交易型態','mchno':'特店代號','acqic':'收單行代碼','mcc':'MCC_CODE',
         'conam':'交易金額-台幣(經過轉換)','ecfg':'網路交易註記','insfg':'分期交易註記','iterm':'分期期數',
         'stocn':'消費地國別','scity':'消費城市','stscd':'狀態碼','ovrlt':'超額註記碼','flbmk':'Fallback註記',
         'hcefg':'支付型態','csmcu':'消費地幣別','flg_3dsmk':'3DS交易註記','fraud_ind':'盜刷註記'}

# train data

In [0]:
import pandas as pd
train = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_預處理完.csv",index_col=0)
train_fraud_ind = train['fraud_ind']
train_txkey = train['txkey']
print(train.shape)
train.head()

(1521787, 23)

   acqic   bacno    cano  conam  contp  ...  scity  stocn  stscd    txkey  fraud_ind
0   6862  112785   37846  16158      5  ...      0    102      0   516056          0
1      0  133951   45476  13693      5  ...   5795    102      0     4376          0
2   6862   15350  187354  16158      5  ...      0    102      0   483434          0
3   6697  156492   29812  40413      5  ...   3267    102      0  1407164          0
4   5959  105534   80881  25962      5  ...   5795    102      0  1051004          0

[5 rows x 23 columns]

# test data

In [0]:
test = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_預處理完.csv",index_col=0)
test_txkey = test['txkey']
print(test.shape)
test.head()

(421665, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd   txkey
0   6862  162489  116168  16158      5  ...      0      0    102      0  592489
1   6862  162489  116168  16158      5  ...      0      0    102      0  592452
2   6862  162489  116168  16158      5  ...      0      0    102      0  590212
3   6862  162489  116168  16158      5  ...      0      0    102      0  590209
4   6862  162489  116168  16158      5  ...      0      0    102      0  592488

[5 rows x 22 columns]

# full data

In [0]:
full_data  = train.drop('fraud_ind',axis=1).append(test)
print(full_data.shape)
full_data.head()

(1943452, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd    txkey
0   6862  112785   37846  16158      5  ...      0      0    102      0   516056
1      0  133951   45476  13693      5  ...      0   5795    102      0     4376
2   6862   15350  187354  16158      5  ...      0      0    102      0   483434
3   6697  156492   29812  40413      5  ...      0   3267    102      0  1407164
4   5959  105534   80881  25962      5  ...      0   5795    102      0  1051004

[5 rows x 22 columns]

In [0]:
del train
del test
gc.collect()

7

# full data col's unique

In [0]:
name = []
len_u = []
sample_v = []
中文 = []
for col in full_data.columns:
  name.append(col)
  u = full_data[col].unique()
  len_u.append(len(u))
  sample_v.append(u[:5])
  中文.append(pd.Series([col]).map(中文map).values[0])
table = pd.DataFrame({'name':name,'中文':中文,'len_u':len_u,'sample_v':sample_v})
table

         name             中文    len_u                                  sample_v
0       acqic          收單行代碼     6866               [6862, 0, 6697, 5959, 6394]
1       bacno           歸戶帳號   163185   [112785, 133951, 15350, 156492, 105534]
2        cano           交易卡號   212458      [37846, 45476, 187354, 29812, 80881]
3       conam  交易金額-台幣(經過轉換)    86327       [16158, 13693, 40413, 25962, 68123]
4       contp           交易類別        7                           [5, 3, 6, 2, 4]
5       csmcu          消費地幣別       76                       [0, 62, 74, 61, 13]
6        ecfg         網路交易註記        2                                    [0, 1]
7       etymd           交易型態       11                           [0, 2, 5, 4, 8]
8       flbmk     Fallback註記        3                                 [0, 1, 2]
9   flg_3dsmk        3DS交易註記        3                                 [0, 1, 2]
10      hcefg           支付型態       10                           [5, 0, 3, 1, 2]
11      insfg         分期交易註記        2                                    [0, 1]
12      iterm           分期期數        9                           [0, 1, 2, 8, 3]
13      locdt           授權日期      120                          [33, 9, 6, 5, 7]
14      loctm           授權時間    85542       [61954, 38216, 54640, 62128, 65231]
15        mcc       MCC_CODE      460                 [457, 451, 247, 263, 339]
16      mchno           特店代號   102783           [59034, 0, 50185, 93290, 78777]
17      ovrlt          超額註記碼        2                                    [0, 1]
18      scity           消費城市     6647               [0, 5795, 3267, 5843, 3569]
19      stocn          消費地國別      109                     [102, 44, 14, 46, 38]
20      stscd            狀態碼        5                           [0, 2, 4, 1, 3]
21      txkey           交易序號  1943452  [516056, 4376, 483434, 1407164, 1051004]

# 定義特徵 去除fraud_ind,txkey,locdt,其他都當特徵

In [0]:
features = full_data.drop(['txkey','locdt'],axis=1).columns.tolist()
print(len(features))
print(features)

20
['acqic', 'bacno', 'cano', 'conam', 'contp', 'csmcu', 'ecfg', 'etymd', 'flbmk', 'flg_3dsmk', 'hcefg', 'insfg', 'iterm', 'loctm', 'mcc', 'mchno', 'ovrlt', 'scity', 'stocn', 'stscd']

# Function for Numeric Aggregations

In [0]:
def agg_function(df,group_var,features):
    agg = df[features].groupby(group_var).agg(["nunique"]).reset_index()

    columns = [group_var]
    for var in agg.columns.levels[0]:
        if var != group_var:
            for stat in agg.columns.levels[1][:-1]:
                columns.append('%s_%s_%s' % (group_var,var,stat))
    agg.columns = columns
    return agg

# Function to Handle Categorical Variables

In [0]:
def count_categorical(df, group_var,categorical_features):
    # Select the categorical columns
    categorical = pd.get_dummies(df[categorical_features],columns=categorical_features)

    # Make sure to put the identifying id on the column
    categorical[group_var] = df[group_var]

    # Groupby the group var and calculate the sum and mean and unique
    categorical = categorical.groupby(group_var).agg(['sum'])
    
    column_names = []
    
    # Iterate through the columns in level 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['count']:
            # Make a new column name
            column_names.append('%s_%s_%s' % (group_var, var, stat))
    
    categorical.columns = column_names
    
    return categorical

# 用cano分組計算該cano對stscd,contp,hcefg,iterm,ovrlt,etymd

In [0]:
cano_agg = count_categorical(full_data,"cano",['stscd','contp','hcefg','iterm','ovrlt','etymd'])
full_data = full_data.merge(cano_agg, on = "cano", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 66)

   acqic   bacno  ...  cano_etymd_9_count  cano_etymd_10_count
0   6862  112785  ...                   1                    0
1      0  133951  ...                   0                    0
2   6862   15350  ...                   0                    0
3   6697  156492  ...                   0                    0
4   5959  105534  ...                   0                    0

[5 rows x 66 columns]

# 用bacno分組計算該bacno對stscd,contp,hcefg,iterm,ovrlt,etymd

In [0]:
bacno_agg = count_categorical(full_data,"bacno",['stscd','contp','hcefg','iterm','ovrlt','etymd'])
full_data = full_data.merge(bacno_agg, on = "bacno", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 110)

   acqic   bacno  ...  bacno_etymd_9_count  bacno_etymd_10_count
0   6862  112785  ...                    1                     0
1      0  133951  ...                    0                     0
2   6862   15350  ...                    0                     0
3   6697  156492  ...                    0                     0
4   5959  105534  ...                    0                     0

[5 rows x 110 columns]

# 用acqic分組計算該acqic對stscd,contp,hcefg,iterm,ovrlt,etymd

In [0]:
acqic_agg = count_categorical(full_data,"acqic",['stscd','contp','hcefg','iterm','ovrlt','etymd'])
full_data = full_data.merge(acqic_agg, on = "acqic", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 154)

   acqic   bacno  ...  acqic_etymd_9_count  acqic_etymd_10_count
0   6862  112785  ...                  0.0                     0
1      0  133951  ...                  0.0                     0
2   6862   15350  ...                  0.0                     0
3   6697  156492  ...               3256.0                     0
4   5959  105534  ...               1929.0                     0

[5 rows x 154 columns]

# 用mchno分組計算該mchno對stscd,contp,hcefg,iterm,ovrlt,etymd

In [0]:
mchno_agg = count_categorical(full_data,"mchno",['stscd','contp','hcefg','iterm','ovrlt','etymd'])
full_data = full_data.merge(mchno_agg, on = "mchno", how = 'left')
print(full_data.shape)
full_data.head()

(1943452, 198)

   acqic   bacno  ...  mchno_etymd_9_count  mchno_etymd_10_count
0   6862  112785  ...                  0.0                     0
1      0  133951  ...                 95.0                     0
2   6862   15350  ...                  0.0                     0
3   6697  156492  ...                  8.0                     0
4   5959  105534  ...                  0.0                     0

[5 rows x 198 columns]

In [0]:
del cano_agg
del bacno_agg
del acqic_agg
del mchno_agg
gc.collect()

364

# 拆回train and test

In [0]:
train = full_data.loc[full_data['txkey'].isin(train_txkey),:]
train['fraud_ind'] = train_fraud_ind
print(train.shape)

(1521787, 199)

In [0]:
test = full_data.loc[full_data['txkey'].isin(test_txkey),:]
print(test.shape)

(421665, 198)

In [0]:
del full_data
gc.collect()

0

# Correlation Function

In [0]:
# Function to calculate correlations with the target for a dataframe
def target_corrs(df,feats):
  corrs = {} 
  for col in feats:
    corr = df['fraud_ind'].corr(df[col])
    corrs[col] = abs(corr)
  return pd.DataFrame(corrs,index=['corr_score']).T.sort_values(by='corr_score',ascending=False)

In [0]:
#原始特徵
corrs = target_corrs(train,features)
corrs.head(10)

       corr_score
stscd    0.279225
ecfg     0.161701
stocn    0.161405
acqic    0.083764
etymd    0.067743
loctm    0.041972
scity    0.028736
hcefg    0.026210
contp    0.023248
conam    0.022302

In [0]:
#新特徵
new_feats = list(set(train.drop('fraud_ind',axis=1).columns)^set(features))
corrs = target_corrs(train,new_feats)
corrs.head(10)

                      corr_score
acqic_stscd_2_count     0.221118
acqic_etymd_10_count    0.189931
mchno_stscd_2_count     0.177878
mchno_etymd_8_count     0.123406
acqic_iterm_0_count     0.110634
acqic_stscd_0_count     0.110606
acqic_ovrlt_0_count     0.109715
acqic_contp_5_count     0.109332
cano_stscd_2_count      0.106705
acqic_hcefg_5_count     0.106104

# 篩選新特徵

In [0]:
select_feats = features+corrs.index.tolist()[:30]
train = train[select_feats+['txkey']+['fraud_ind']]
test = test[select_feats+['txkey']]

# check data

In [0]:
print(train.shape)
print(train.isnull().sum().sum())
train.head()

(1521787, 52)
0

   acqic   bacno    cano  ...  acqic_iterm_4_count    txkey  fraud_ind
0   6862  112785   37846  ...                  0.0   516056          0
1      0  133951   45476  ...                  0.0     4376          0
2   6862   15350  187354  ...                  0.0   483434          0
3   6697  156492   29812  ...               2101.0  1407164          0
4   5959  105534   80881  ...                  0.0  1051004          0

[5 rows x 52 columns]

In [0]:
print(test.shape)
print(test.isnull().sum().sum())
test.head()

(421665, 51)
0

         acqic   bacno  ...  acqic_iterm_4_count   txkey
1521787   6862  162489  ...                  0.0  592489
1521788   6862  162489  ...                  0.0  592452
1521789   6862  162489  ...                  0.0  590212
1521790   6862  162489  ...                  0.0  590209
1521791   6862  162489  ...                  0.0  592488

[5 rows x 51 columns]

# save

In [0]:
train.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_特徵工程完.csv")
test.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_特徵工程完.csv")
print('save done!')

save done!