<a href="https://colab.research.google.com/github/skywalker0803r/Ricky/blob/master/%E7%8E%89%E5%B1%B1%E9%8A%80%E8%A1%8CAI%E6%AF%94%E8%B3%BD_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 中文map

In [0]:
中文map = {'bacno':'歸戶帳號','txkey':'交易序號','locdt':'授權日期','loctm':'授權時間','cano':'交易卡號',
         'contp':'交易類別','etymd':'交易型態','mchno':'特店代號','acqic':'收單行代碼','mcc':'MCC_CODE',
         'conam':'交易金額-台幣(經過轉換)','ecfg':'網路交易註記','insfg':'分期交易註記','iterm':'分期期數',
         'stocn':'消費地國別','scity':'消費城市','stscd':'狀態碼','ovrlt':'超額註記碼','flbmk':'Fallback註記',
         'hcefg':'支付型態','csmcu':'消費地幣別','flg_3dsmk':'3DS交易註記','fraud_ind':'盜刷註記'}

# train data

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
train = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train.csv")
print(train.shape)
train.head()

(1521787, 23)

   acqic   bacno    cano    conam  contp  ...  ovrlt scity  stocn stscd    txkey
0   6881  113261   38038   513.80      5  ...      N     0    102     0   516056
1      0  134508   45725   465.62      5  ...      N  5817    102     0     4376
2   6881   15408  188328   513.80      5  ...      N     0    102     0   483434
3   6716  157159   29967  1016.11      5  ...      N  3281    102     0  1407164
4   5975  105985   81305   713.66      5  ...      N  5817    102     0  1051004

[5 rows x 23 columns]

# test data

In [4]:
test = pd.read_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test.csv")
print(test.shape)
test_txkey = test["txkey"]
test.head()

(421665, 22)

   acqic   bacno    cano  conam  contp  ...  ovrlt scity  stocn stscd   txkey
0   6881  163188  116799  513.8      5  ...      N     0    102     0  592489
1   6881  163188  116799  513.8      5  ...      N     0    102     0  592452
2   6881  163188  116799  513.8      5  ...      N     0    102     0  590212
3   6881  163188  116799  513.8      5  ...      N     0    102     0  590209
4   6881  163188  116799  513.8      5  ...      N     0    102     0  592488

[5 rows x 22 columns]

# 缺失值情形

In [0]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [6]:
print(missing_values_table(train))
print(missing_values_table(test))

Your selected dataframe has 23 columns.
There are 2 columns that have missing values.
           Missing Values  % of Total Values
flbmk               12581                0.8
flg_3dsmk           12581                0.8
Your selected dataframe has 22 columns.
There are 2 columns that have missing values.
           Missing Values  % of Total Values
flbmk                3715                0.9
flg_3dsmk            3715                0.9

# 處理缺失值 fillna

把缺失值當成一種'unknown'類別

In [7]:
train.fillna('unknown',inplace=True)
test.fillna('unknown',inplace=True)
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

0
0

# Label encoding

In [8]:
from sklearn.preprocessing import LabelEncoder
# Create a label encoder object
le = LabelEncoder()
le_count = 0
le_col = []

# Iterate through the columns
for col in train.drop(['txkey','fraud_ind'],axis=1).columns:
  # 條件
  if len(train[col].unique())<=3:
    # Train on the training data
    le.fit(train[col])
    # Transform both training and testing data
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])
    # Keep track of how many columns were label encoded
    le_count += 1
    le_col.append(col)
            
print('%d columns were label encoded.' % le_count)
print(le_col)

5 columns were label encoded.
['ecfg', 'flbmk', 'flg_3dsmk', 'insfg', 'ovrlt']

In [9]:
train.head()

   acqic   bacno    cano    conam  contp  ...  ovrlt  scity  stocn  stscd    txkey
0   6881  113261   38038   513.80      5  ...      0      0    102      0   516056
1      0  134508   45725   465.62      5  ...      0   5817    102      0     4376
2   6881   15408  188328   513.80      5  ...      0      0    102      0   483434
3   6716  157159   29967  1016.11      5  ...      0   3281    102      0  1407164
4   5975  105985   81305   713.66      5  ...      0   5817    102      0  1051004

[5 rows x 23 columns]

In [10]:
train.dtypes

acqic          int64
bacno          int64
cano           int64
conam        float64
contp          int64
csmcu          int64
ecfg           int64
etymd          int64
flbmk          int64
flg_3dsmk      int64
fraud_ind      int64
hcefg          int64
insfg          int64
iterm          int64
locdt          int64
loctm        float64
mcc            int64
mchno          int64
ovrlt          int64
scity          int64
stocn          int64
stscd          int64
txkey          int64
dtype: object

In [11]:
test.head()

   acqic   bacno    cano  conam  contp  ...  ovrlt  scity  stocn  stscd   txkey
0   6881  163188  116799  513.8      5  ...      0      0    102      0  592489
1   6881  163188  116799  513.8      5  ...      0      0    102      0  592452
2   6881  163188  116799  513.8      5  ...      0      0    102      0  590212
3   6881  163188  116799  513.8      5  ...      0      0    102      0  590209
4   6881  163188  116799  513.8      5  ...      0      0    102      0  592488

[5 rows x 22 columns]

In [12]:
test.dtypes

acqic          int64
bacno          int64
cano           int64
conam        float64
contp          int64
csmcu          int64
ecfg           int64
etymd          int64
flbmk          int64
flg_3dsmk      int64
hcefg          int64
insfg          int64
iterm          int64
locdt          int64
loctm        float64
mcc            int64
mchno          int64
ovrlt          int64
scity          int64
stocn          int64
stscd          int64
txkey          int64
dtype: object

# one hot

In [0]:
#one_hot_col = []

#for col in train.drop(['fraud_ind','txkey','locdt']+le_col,axis=1).columns:
#  len_u = len(train[col].unique())
#  if len_u < 200:
#    one_hot_col.append(col)
#print(one_hot_col)

#train = pd.get_dummies(train,columns=one_hot_col)
#test = pd.get_dummies(test,columns=one_hot_col)

# Aligning Training and Testing Data

In [14]:
print('Train shape: ', train.shape)
print('Test shape: ', test.shape)

# move out target
train_labels = train['fraud_ind']
train.drop('fraud_ind',axis=1,inplace=True)

# Align the training and testing data, keep only columns present in both dataframes
train, test = train.align(test, join = 'inner', axis = 1)

# Add the target back in
train['fraud_ind'] = train_labels

print('Train shape: ', train.shape)
print('Test shape: ', test.shape)

Train shape:  (1521787, 23)
Test shape:  (421665, 22)
Train shape:  (1521787, 23)
Test shape:  (421665, 22)

# select the x_col's unique value in both dataframe

In [0]:
not_features = ['txkey','locdt','cano','bacno','fraud_ind']
for x_col in train.drop(not_features,axis=1).columns:
  common_values = set(train[x_col].unique()) & set(test[x_col].unique())
  train = train.loc[train[x_col].isin(common_values),:]

In [16]:
print(train.shape)
print(test.shape)

(1271138, 23)
(421665, 22)

In [17]:
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

0
0

# after data preprocessing save data

In [18]:
train.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/train_預處理完.csv")
test.to_csv("/content/drive/My Drive/玉山人工智慧比賽數據/test_預處理完.csv")
print('save done!')

save done!